<article class="package row">
  <div class="details">
    <header class="row">
      <h1 class="sixcol">
        <%= package.name %> / <%= package.version %>
        <% if (package.modified) { %>
        <small data-date="<%= package.modified.full %>">
          last updated <%= package.modified.ago %>
        </small>
        <% } %>
        <% if (package.created) { %>
        <small data-date="<%= package.created.full %>">
          created in <%= package.created.human %>
        </small>
        <% } %>
      </h1>

      <aside class="sixcol last">
        <div class="right">
          <s class="ss-icon ss-standard ss-star"></s>
          <%= (package.starred || []).length %> |
          <s class="ss-icon ss-social-circle ss-octocat"></s>
          <%= github.stargazers_count || 0 %> |
          <s class="ss-icon ss-standard ss-home"></s>
          <s class="ss-icon ss-standard ss-alert"></s>
          <s class="ss-icon ss-standard ss-fork"></s> |
          <strong class="label label-info"><%= package.license %></strong>
        </div>
      </aside>
    </header>

    <% if (package.maintainers.length) { %>
    <h2>Maintainers</h2>
    <% package.maintainers.forEach(function (maintainer) { %>
    <div class="maintainer">
      <% if (maintainer.gravatar) { %>
      <img src="<%= maintainer.gravatar %>?s=120" alt="<%= maintainer.name %>" class="gravatar">
      <% } %>
      <strong class="name"><%= maintainer.name %></strong>
    </div>
    <% });} %>

    <% if (package.keywords && package.keywords.length) { %>
    <dl>
      <dt>Keywords</dt>
      <dd><%= package.keywords.join(', ') %></dd>
    </dl>
    <% } %>

    <% if (package.repository) { %>
    <dl>
      <dt>Repository</dt>
      <dd>
        <a href="<%= package.repository.url %>" rel="nofollow">
          <%= package.repository.url %>
        </a>
      </dd>
    </dl>
    <% } %>

    <% if (package.bugs) { %>
    <dl>
      <dt>Issues</dt>
      <dd>
        <a href="<%= package.bugs.url %>" rel="nofollow">
          <%= package.bugs.url %>
        </a>
      </dd>
    </dl>
    <% } %>

    <% if (package.homepage) { %>
    <dl>
      <dt>Homepage</dt>
      <dd>
        <a href="<%= package.homepage.url %>" rel="nofollow">
          <%= package.homepage.url %>
        </a>
      </dd>
    </dl>
    <% } %>

    <% if (package.version) { %>
    <dl>
      <dt>Version</dt>
      <dd><%= package.version %></dd>
    </dl>
    <% } %>

    <% if (package.licenses) { %>
    <dl>
      <dt>Copyright</dt>
      <dd><%= package.licenses.join(', ') %></dd>
    </dl>
    <% } %>

    <% if (package.github) { %>
    <dl>
      <dt>Donate</dt>
      <dd>
        <a href="https://www.gittip.com/on/github/<%= package.github.user%>/">
          @<%= package.github.user %> on gittip
        </a>
      </dd>
    </dl>
    <% } %>

    <% if (shrinkwrap.length) { %>
    <table class="more">
      <thead>
        <tr>
          <th>Name</th>
          <th>Version</th>
          <th>License</th>
        </tr>
      </thead>
      <tbody>
        <% shrinkwrap.forEach(function (dependency, index) { %>
        <tr class="<%= index >= 5 ? 'row gone' : 'row' %>">
          <td class="name">
            <a href="/package/<%= dependency.name %>"><%= dependency.name %></a>
          </td>
          <td class="version"><%= dependency.version %></td>
          <td class="license">
            <% if (dependency.licenses) { %>
              <%= dependency.licenses.join(', ') %>
            <% } %>
          </td>
        </tr>
        <% }); %>
      </tbody>
      <% if (shrinkwrap.length > 5) { %>
      <tfoot>
        <tr>
          <td colspan="3">
            <a href="#/more" class="show-all">
              Show all <%= shrinkwrap.length %> dependencies
            </a>
          </td>
        </tr>
      </tfoot>
      <% } %>
    </table>
    <% } %>

    <% if (package.time && package.releases.length) { %>
    <table class="more">
      <thead>
        <tr>
          <th>Version</th>
          <th>Release date</th>
        </tr>
      </thead>
      <tbody>
        <% package.releases.forEach(function (version, index) { %>
        <tr class="<%= index >= 5 ? 'row gone' : 'row' %>">
          <td class="version"><%= version %></td>
          <td class="date" data-date="<%= package.time[version].full %>">
            <%= package.time[version].human %>
            <small><%= package.time[version].ago %></small>
          </td>
        </tr>
        <% }); %>
      </tbody>
      <% if (package.releases.length > 5) { %>
      <tfoot>
        <tr>
          <td colspan="2">
            <a href="#/more" class="show-all">
              Show all <%= package.releases.length %> releases
            </a>
          </td>
        </tr>
      </tfoot>
      <% } %>
    </table>
    <% } %>
  </div>

  <% if ('readme' in locals) { %>
  <article class="markdown">
    <%- readme %>
  </article>
  <% } %>
</article>

<!--
@TODO dependencies and modules
@TODO table of contents generation?
@TODO github, twitter and other profile information
@TODO description, current version, gravatar, release date.
-->
