<article class="package">
  <div class="details">
    <header class="row">
      <h1 class="sixcol">
        <%= package.name %> / <%= package.version %>
        <% if (package.modified) { %>
        <small data-date="<%= package.modified.full %>">
          last updated <%= package.modified.ago %>
        </small>
        <% } %>
        <% if (package.created) { %>
        <small data-date="<%= package.created.full %>">
          created in <%= package.created.human %>
        </small>
        <% } %>
      </h1>

      <aside class="sixcol last">
        <div class="right">
          <s class="ss-icon ss-standard ss-star"></s>
          <%= (package.starred || []).length %> |
          <s class="ss-icon ss-social-circle ss-octocat"></s>
          <%= github.stargazers_count || 0 %> |

          <% if (package.homepage) { %>
          <a href="<%= package.homepage.url %>" rel="nofollow">
            <s class="ss-icon ss-standard ss-home"></s>
          </a>
          <% } %>

          <% if (package.bugs) { %>
          <a href="<%= package.bugs.url %>" rel="nofollow">
            <s class="ss-icon ss-standard ss-alert"></s>
          </a>
          <% } %>

          <% if (package.repository) { %>
          <a href="<%= package.repository.url %>" rel="nofollow">
            <s class="ss-icon ss-standard ss-fork"></s> |
          </a>
          <% } %>

          <% package.licenses.forEach(function (license) { %>
          <strong class="label label-info"><%= license %></strong>
          <% }) %>
        </div>
      </aside>
    </header>

    <section class="properties row">
      <div class="fourcol dependencies">
        <h2>
          <s class="ss-icon ss-standard ss-grid"></s>
          dependencies
          <% if (shrinkwrap.length > 5) { %>
          <small class="right">
            <a href="#/more-dependencies" class="show-all">
              +<%= shrinkwrap.length - 5 %> more
            </a>
          </small>
          <% } %>
        </h2>
        <% if (shrinkwrap.length) { var c = 1, p = 1 %>
        <table class="more">
          <tbody>
            <% shrinkwrap.forEach(function (dependency, index) { %>
            <tr class="<%= index >= 5 ? ' gone' : '' %>">
              <td class="type">
                <% if (!index) { %>main<% } %>
                <% if (index &&  p !== dependency.main) { %>sub<% } %>
              </td>
              <td>
                <s class="status<%= !(dependency.licenses || []).length ? ' missing' : '' %>">
                </s>
              </td>
              <td class="name">
                <a href="/package/<%= dependency.name %>"><%= dependency.name %></a>
              </td>
              <td class="version"><%= dependency.version %></td>
              <td class="license right">
                <% if (dependency.licenses) { %>
                  <%= dependency.licenses.join(', ') %>
                <% } %>
              </td>
            </tr>
            <% p = dependency.main }) %>
          </tbody>
        </table>
        <% } %>
      </div>

      <div class="fourcol maintainers">
        <% if (package.maintainers.length) { %>
        <h2>
          <s class="ss-icon ss-standard ss-users"></s>
          maintainers
          <% if (package.maintainers.length > 4) { %>
          <small class="right">
            <a href="#/more-maintainers" class="show-all">
              +<%= package.maintainers.length - 4 %> more
            </a>
          </small>
          <% } %>
        </h2>
        <% package.maintainers.forEach(function (maintainer, index) { %>
        <div class="maintainer sixcol<%= index >= 4 ? ' gone' : '' %><%= index % 2 ? ' last' : '' %>">
          <% if (maintainer.gravatar) { %>
          <img src="<%= maintainer.gravatar %>?s=120" alt="<%= maintainer.name %>" class="gravatar">
          <% } %>
          <strong class="name"><%= maintainer.name %></strong>
        </div>
        <% });} %>
      </div>

      <div class="fourcol last versions">
        <h2>
          <s class="ss-icon ss-standard ss-layers"></s>
          versions
          <% var n = Object.keys(package.releases).length; if (n > 5) { %>
          <small class="right">
            <a href="#/more-releases" class="show-all">
              <%= n %> total
            </a>
          </small>
          <% } %>
        </h2>
        <% if (package.time && n) { %>
        <table class="more">
          <tbody>
            <% Object.keys(package.releases).forEach(function (version, index) { %>
            <tr class="<%= index >= 5 ? 'gone' : '' %>">
              <td class="version"><%= version %></td>
              <td class="date" data-date="<%= package.time[version].full %>">
                <%= package.time[version].ago %>
              </td>
              <td class="releaser right">
                <%= package.releases[version].name || 'anonymous' %>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
        <% } %>
      </div>
    </section>
  </div>

  <% if ('readme' in locals) { %>
  <article class="row markdown">
    <div class="right icon">
      <h3>readme</h3>
      <s class="ss-icon ss-standard ss-file"></s>
    </div>
    <%- readme %>
  </article>
  <% } %>
</article>

<!--
@TODO table of contents generation?
@TODO github, twitter and other profile information
@TODO description, current version, gravatar, release date.
-->
